.mouse {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 999999;
  pointer-events: none;

  @media (max-width: 768px) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: #d7d7d7;
    z-index: 2;
    box-shadow: 4px 4px 4px #cccaca;
    border-radius: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background-color: #cdcdcd;
    border-radius: 100%;
    transition: opacity 0.3s ease-in-out, all 0.3s ease-in-out;
  }

  &__view {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $yellow-color;
    background-color: #302e2e;
    border: 4px dotted $yellow-color;
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &.view-visible &__view {
    opacity: 1;
  }

  &.link-visible::after {
    border: 6px solid red;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: transparent;
  }

  &.link-visible::before {
    opacity: 0;
  }
}
