// mixins
@mixin posCenter($topPos, $leftPos) {
  position: absolute;
  top: #{$topPos};
  left: #{$leftPos};
  transform: translate(-#{$leftPos}, -#{$topPos});
}

// REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// EM
@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}
