mixin icon(name,width)
  if !width
    span(class="icon svg-image-" + name)
  else
    span(class="icon svg-image-" + name style="width:" + width + "px")


mixin picture(name,ext,x2)
  if !x2
    picture.picture.object-fit-cover
      source.object-fit-cover(srcset="@img/" + name + ".webp" type="image/webp")
      source.object-fit-cover(srcset="@img/" + name + "." + ext  type="image/" + ext)
      img.picture__img.object-fit-cover(src="@img/" + name + "." + ext alt="")
  else
    picture.picture.object-fit-cover
      source.object-fit-cover(srcset="@img/" + name + ".webp, @img/" + name + "@2x.webp 1.5x" type="image/webp")
      source.object-fit-cover(srcset="@img/" + name + "." + ext + ", @img/" + name + "@2x." + ext + " 1.5x" type="image/" + ext)
      img.picture__img.object-fit-cover(src="@img/" + name + "." + ext srcset="@img/" + name + "." + ext + ", @img/" + name + "@2x." + ext + " 1.5x" alt="")


mixin breadcrumbs(arr,cur)
  .breadcrumbs
    .container
      ul(itemscope itemtype="https://schema.org/BreadcrumbList").breadcrumbs__list
        each v, index in arr
          li(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem").breadcrumbs__item
            a(href="#" itemprop="item").breadcrumbs__link
              span(itemprop="name")=v
            meta(itemprop="position" content=index+1)
        if cur!=''
          li(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem").breadcrumbs__item
            span(itemprop="name").breadcrumbs__current=cur



mixin pagination(amount, current, ellipsis, last, arrows)
  .pagination
    if (arrows === true)
      a(href="#").pagination__prev Назад
        +icon('next-sm')
    .pagination__list
      - for (var index = 1; index <= amount; index++)
        if (index === current)
          .pagination__item.is-current= index
        else if (index === ellipsis)
          a(href="#").pagination__item.is-collapsed
            //- include ../../images/svg/collapsed.svg
        else
          a(href="#").pagination__item= index
      - for (var index = last; index <= last; index++)
        a(href="#").pagination__item= index
    if (arrows === true)
      a(href="#").pagination__next Вперед
        +icon('next-sm')
