.parallax
  picture
    source(data-srcset="@img/1.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/1.png" data-speed="-5" alt="")
  picture
    source(data-srcset="@img/2.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/2.png" data-speed="5" alt="")
  picture
    source(data-srcset="@img/3.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/3.png" data-speed="2" alt="")
  picture
    source(data-srcset="@img/5.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/5.png" data-speed="8" alt="")
  picture
    source(data-srcset="@img/6.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/6.png" data-speed="-2" alt="")
  picture
    source(data-srcset="@img/7.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/7.png" data-speed="4" alt="")
  picture
    source(data-srcset="@img/8.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/8.png" data-speed="-8" alt="")
  picture
    source(data-srcset="@img/10.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/10.png" data-speed="-7" alt="")
  picture
    source(data-srcset="@img/11.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/11.png" data-speed="-5" alt="")
  picture
    source(data-srcset="@img/12.webp" type="image/webp")
    img(class="parallax__img _lazy" data-src="@img/12.png" data-speed="5" alt="")
button.burger.btn-reset(aria-label="Menu" tabindex="0")
  .burger__lines
    .burger__line
    .burger__line
    .burger__line
