section.experience#experience
  h2.heading.experience__title(data-text="headingExp") my
    span  experience
  .experience-container
    .box
      span.box__icon
        svg(width="24" height="24")
          use(xlink:href="@img/sprites/sprite-noattr.svg#experience")
      span.box__year 2019
      h3.box__title(data-text="expTitle") front end development
      p.box__subtitle UpWork
      p.box__text(data-text="expTextOne") Web site development of any complexity ( Landing pages, Multipage sites ), frontend, email templates / email signatures, css animation / GreenSock animation, legacy sites support, etc ...
    .box
      span.box__icon
        svg(width="24" height="24")
          use(xlink:href="@img/sprites/sprite-noattr.svg#experience")
      span.box__year 2020
      h3.box__title(data-text="expTitle") front end development
      p.box__subtitle M - Social
      p.box__text(data-text="expTextTwo") Support and development of large brand sites ( j7sok, frutonyanya, raiffeisen-life, renlife, fetaxa, adrenalinerush, wella, kollektivX, mexx, lays, etc... ), frontend, email templates, GSAP / css animation, legacy sites support.
    .box
      span.box__icon
        svg(width="24" height="24")
          use(xlink:href="@img/sprites/sprite-noattr.svg#experience")
      span.box__year 2021
      h3.box__title(data-text="expTitle") front end development
      p.box__subtitle UpWork
      p.box__text(data-text="expTextThree") Web site development of any complexity ( Landing pages, Multipage sites ), frontend, email templates / email signatures, css animation / GreenSock animation, legacy sites support, etc ...
