section.home#home
  h3.home__subtitle(data-text="homeSubtitle") Hi there !
  h1.home__title(data-text="homeTitle") I'm <span>Shamil Magomedov</span>
  p.home__text(data-text="homeText").
    Experience in frontend 2.8 years (1 year in a team), I make up complex layouts from Figma/XD/PSD. I'm doing email templates / email signatures for all platforms and css animations / GSAP animations.<br> I have experience with bootstrap and tailwindcss. I use a modular and functional approach in my javaScript code and I use ESLint by airbnb. In html and css I use component approach with BEM methodology.
  a.home__link(href="#about")
    button.home__btn.btn
      div(data-text="homeBtn") About me
      span
        svg(class="home__icon" width="20" height="20")
          use(xlink:href="@img/sprites/sprite-noattr.svg#user")
