section.portfolio#portfolio
  h2.heading.portfolio__title(data-text="headingPortf") my
    span  portfolio
  .portfolio-container
    .box
      a(href="https://www.raiffeisen-life.ru/" target="_blank" title="raiffeisen-life.ru")
        picture
          source(srcset="@img/project-1.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-1.png" alt="Image")
    .box
      a(href="https://www.doctors-on-board.ru/" target="_blank" title="doctors-on-board.ru")
        picture
          source(data-srcset="@img/project-2.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-2.png" alt="Image")
    .box
      a(href="https://pervyi-prikorm-rodcher-creative.undv.ru/" target="_blank" title="pervyi-prikorm-rodcher-creative.undv.ru")
        picture
          source(data-srcset="@img/project-3.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-3.png" alt="Image")
    .box
      a(href="https://fetaxa.ru/" target="_blank" title="fetaxa.ru")
        picture
          source(data-srcset="@img/project-4.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-4.png" alt="Image")
    .box
      a(href="https://adrenalinerush.ru/большевсехнадо" target="_blank" title="adrenalinerush.ru/большевсехнадо")
        picture
          source(data-srcset="@img/project-5.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-5.png" alt="Image")
    .box
      a(href="https://sumiagro-hakuhodo.undv.ru/kartofel-landing" target="_blank" title="sumiagro-hakuhodo.undv.ru/kartofel-landing")
        picture
          source(data-srcset="@img/project-6.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-6.png" alt="Image")
    .box
      a(href="https://vincatech1.com/" target="_blank" title="vincatech1.com")
        picture
          source(data-srcset="@img/project-7.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-7.png" alt="Image")
    .box
      a(href="https://vipdeveloper.ru/finom/" target="_blank" title="vipdeveloper.ru/finom")
        picture
          source(data-srcset="@img/project-8.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-8.png" alt="Image")
    .box
      a(href="https://vipdeveloper.ru/ggdrop" target="_blank" title="vipdeveloper.ru/ggdrop")
        picture
          source(data-srcset="@img/project-9.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-9.png" alt="Image")
    .box
      a(href="https://vipdeveloper.ru/babystake" target="_blank" title="vipdeveloper.ru/babystake")
        picture
          source(data-srcset="@img/project-10.webp" type="image/webp")
          img(class="box__img _lazy" data-src="@img/project-10.png" alt="Image")
